<!DOCTYPE html>
{% load static %}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'img/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="{% static 'js/slider.js' %}"></script>
    <title>Actual Gameplay</title>
</head>
<body>
    <header>
        <a href="/">
            <img src="{% static 'img/logo.png' %}" alt="">
        </a>
        <section>
            <a href="/login"><button>INICIAR SESIÓN</button></a>
            <a href="/register"><button>REGISTRARSE</button></a>
        </section>
    </header>
    <main>
        <section id="slider">
            <img src="{% static 'img/slider1.png' %}" alt="slider1" id="slider1">
            <img src="{% static 'img/slider2.png' %}" alt="slider2" id="slider2">
        </section>
        <section id="informacion">
            <img src="{% static 'img/descripcion.png' %}" alt="">
            <div>
                <h1>¿QUÉ ES ACTUAL GAMEPLAY?</h1>
                <p>Somos un foro que busca brindarle a nuestros usuarios reseñas de videojuegos hechas por jugadores y para jugadores. Así como tú, estamos cansados de las reseñas compradas por empresas multimillonarias, por lo que aquí podrás publicar y ver reseñas sobre tus videojuegos favoritos, y lo mejor, completamente gratis.</p>
                <h2>¿Qué esperas para registrarte?</h2>
                <a href="/register"><button>Registrarse</button></a>
            </div>
        </section>
    </main>
    <footer>
        <p>Dev: Alejandro Amador Ruiz</p>
    </footer>
</body>
</html>