<!DOCTYPE html>
{% load static %}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'img/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>Iniciar Sesión</title>
</head>
<body>
    <header>
        <a href="/">
            <img src="{% static 'img/logo.png' %}" alt="">
        </a>
        <section>
            <a href="/register"><button>REGISTRARSE</button></a>
            <a href="/"><button>INICIO</button></a>
        </section>
    </header>
    <main>
        <section id="register">
            <h1 id="title">INICIAR SESIÓN</h1>
            <form method="POST">
                {% csrf_token %}
                <div>
                    <h3>Usuario: </h3>
                    <input type="text" name="usuario" placeholder="Usuario" required>
                </div>
                <div>
                    <h3>Contraseña: </h3>
                    <input type="password" name="contrasena" placeholder="Contraseña" required>
                </div>
                <button type="submit">Iniciar Sesión</button>
            </form>
            <h2>{{mensaje}}</h2>
        </section>
    </main>
    <footer>
        <p>Dev: Alejandro Amador Ruiz</p>
    </footer>
</body>
</html>