<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entregable 4</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="icon" href="{% static 'img/favicon.ico' %}">
</head>

<body>
    <nav>
        <section>
            <a href="login/">
                <button>INICIAR SESION</button>
            </a>
            <a href="register/">
                <button>REGISTRARSE</button>
            </a>
            <a href="/">
                <img src="{% static 'img/logo.png' %}" alt="">
            </a>
            
        </section>
    </nav>
    <header>
        <img src="{% static 'img/poli.jpg' %}" alt="" id="poli">
    </header>
    <main>
        <section id="habilidades">
            <h1>Habilidades: </h1>
            <p>Se solucionar problemas cotidianos y complejos haciendo uso de la informatica y la programación, así como conceptos y practicas basicas de robótica, diseño web, edición de video, edición de imagen, etc.</p>
            <h1>Herramientas de Dominio: </h1>
            <p>Python, Java, C++, Django, Cospaces, JavaScript</p>
        </section>
        <section id="informacionPersonal">
            <img src="{% static 'img/foto.jpg' %}" alt="" width="200px">
            <div>
                <h1>Nombre: </h1>
                <p>Alejandro</p>
                <h1>Apellidos: </h1>
                <p>Amador Ruiz</p>
                <h1>Cédula: </h1>
                <p>1007480914</p>
                <h1>Correo: </h1>
                <p>aleamador2003@gmail.com</p>
            </div>
        </section>
    </main>
</body>

</html>