<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="icon" href="{% static 'img/favicon.ico' %}">
</head>

<body>
    <nav>
        <section>
            <a href="/">
                <button>INICIO</button>
            </a>
            <a href="/">
                <img src="{% static 'img/logo.png' %}" alt="">
            </a>
        </section>
    </nav>
    <header>
        <section id="loginContainer">
            <section id="login">
                <img src="{% static 'img/login.png' %}" alt="login">
                <div>
                    <form method="post">
                        {% csrf_token %}
                        <h2>INICIAR SESIÓN</h2>
                        <div class="campo">
                            <h3>Usuario:</h3>
                            <input type="text" name="usuario" placeholder="Usuario" required>
                        </div>
                        <div class="campo">
                            <h3>Contraseña:</h3>
                            <input type="password" name="contrasena" placeholder="Contraseña" required>
                        </div>
                        <div>
                            <button type="submit">Iniciar Sesion</button>
                            <strong> <a href="/register">Registro</a></strong>
                        </div>
                    </form>
                    
                    <h1>{{msgLogin}}</h1>
                </div>
            </section>
        </section>
    </header>
    <main>
        <section id="habilidades">
            <h1>Habilidades: </h1>
            <p>Se solucionar problemas cotidianos y complejos haciendo uso de la informatica y la programación, así como conceptos y practicas basicas de robótica, diseño web, edición de video, edición de imagen, etc.</p>
            <h1>Herramientas de Dominio: </h1>
            <p>Python, Java, C++, Django, Cospaces, JavaScript</p>
        </section>
        <section id="informacionPersonal">
            <img src="{% static 'img/foto.jpg' %}" alt="" width="200px">
            <div>
                <h1>Nombre: </h1>
                <p>Alejandro</p>
                <h1>Apellidos: </h1>
                <p>Amador Ruiz</p>
                <h1>Cédula: </h1>
                <p>1007480914</p>
                <h1>Correo: </h1>
                <p>aleamador2003@gmail.com</p>
            </div>
        </section>
    </main>
</body>

</html>