<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    
</head>

<body>
    <nav>
        <section>
            <a href="/">
                <button>INICIO</button>
            </a>
            <a href="/">
                <img src="{% static 'img/logo.png' %}" alt="">
            </a>
        </section>
    </nav>
    <main>
        <section id="registroContainer">
            <section id="registro">
                <div>
                    <div>
                        <strong><h1>REGISTRARSE</h1></strong>
                    </div>
                    <form method="post">
                        {% csrf_token %}
                        <div class="campo">
                            <h3>Nombre:</h3>
                            <input type="text" name="nombre" placeholder="Nombre" required>
                        </div>
                        <div class="campo">
                            <h3>Primer Apellido:</h3>
                            <input type="text" name="pApellido" placeholder="Primer Apellido" required>
                        </div>
                        <div class="campo">
                            <h3>Segundo Apellido:</h3>
                            <input type="text" name="sApellido" placeholder="Segundo Apellido" required>
                        </div>
                        <div class="campo">
                            <h3>Correo:</h3>
                            <input type="email" name="correo" placeholder="Correo" required>
                        </div>
                        <div class="campo">
                            <h3>Usuario:</h3>
                            <input type="text" name="usuario" placeholder="Usuario" required>
                        </div>
                        <div class="campo">
                            <h3>Contraseña:</h3>
                            <input type="password" name="contrasena" placeholder="Contraseña" required>
                        </div>
                        <div class="campo">
                            <h3>Confirmar Contraseña:</h3>
                            <input type="password" name="contrasena1" placeholder="Confirmar Contraseña" required>
                        </div>
                        
                        <button type="submit">Registrarse</button>
                        <strong> <a href="/login">Login</a></strong>
                    </form>
                </div>
                <img src="{% static 'img/register.png' %}" alt="login">
            </section>
            <h1>{{msgRegister}}</h1>
        </section>
    </main>
    <main>
        <section id="informacionPersonal">
            <img src="{% static 'img/foto.jpg' %}" alt="" width="200px">
            <div>
                <h1>Nombre: </h1>
                <p>Alejandro</p>
                <h1>Apellidos: </h1>
                <p>Amador Ruiz</p>
                <h1>Cédula: </h1>
                <p>1007480914</p>
                <h1>Correo: </h1>
                <p>aleamador2003@gmail.com</p>
            </div>
        </section>
    </main>
</body>

</html>