body {
    background-color: #101557;
    color: white;
    margin: 0;
    text-shadow: 0 0 2px black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
    position: fixed;
    background-color: #080926;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 5px black;
    z-index: 1;
    height: 10vh;
    top: 0;
    width: 100%;
}

header section {
    padding: 30px;
}

header img {
    max-width: 35%;
    margin-left: 30px;
    
}

a {
    text-decoration: none;
    color: white;
}

button {
    background-color: white;
    color: black;
    padding: 10px;
    font-size: large;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 0 0 5px black;
    border-style: none;
    margin: 5px;
}

main {
    display: grid;
    justify-content: center;
    align-items: center;
    align-self: center;
    margin: 0 15%;
    margin-top: 12vh;
    min-height: 78.3vh;
}

#slider {
    display: grid;
    grid-template-areas: "slider";
    align-items: center;
    justify-content: center;
}

#slider1 {
    grid-area: slider;
    max-width: 70vw;
    transition: opacity 1s ease;
    box-shadow: 0 0 5px black;
}

#slider2 {
    grid-area: slider;
    max-width: 70vw;
    transition: opacity 1s ease;
    box-shadow: 0 0 5px black;
}

#informacion {
    margin: 20px;
    background-color: #546CD1;
    display: flex;
    padding: 20px;
    text-align: center;
    box-shadow: 0 0 5px black;
}

#informacion div{
    align-items: center;
}

#informacion img {
    max-width: 30%;
}

footer {
    background-color: #080926;
    text-align: center;
    padding: 15px;
    z-index: 1;
    box-shadow: 0 0 5px black;
}

#register {
    background-color: #546CD1;
    max-width: 50vw;
    text-align: center;
    padding: 30px;
    box-shadow: 0 0 5px black;
    margin: 10vh 0;
}

#title {
    text-align: center;
}

#register div {
    display: flex;
    justify-content: space-between;
}

input {
    border-radius: 25px;
    width: 20vw;
    padding: 5px;
    margin: 5px;
    border-style: none;
    box-shadow: 0 0 5px black;
}

select {
    border-radius: 25px;
    width: 20vw;
    padding: 5px;
    margin: 5px;
    border-style: none;
    box-shadow: 0 0 5px black;
}

textarea {
    border-radius: 10px;
    box-shadow: 0 0 5px black;
    width: 40vw;
    padding: 5px;
    resize: none;
    margin-bottom: 20px;
}

#publicacion {
    background-color: #546CD1;
    margin: 20px;
    padding: 20px;
    max-width: 80vw;
    box-shadow: 0 0 5px black;
}

#publicacion img {
    max-width: 100%;
    min-width: 100%;
}

#publicacionHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#publicacionHeader h1{
    font-size: x-large;
}
#publicacionHeader h3{
    font-size: medium;
}
#publicacionHeader p{
    color: lightgrey;
}

#wallHeader {
    background-color: #546CD1;
    margin: 20px;
    padding: 20px;
    max-width: 80vw;
    text-align: center;
    box-shadow: 0 0 5px black;
}

#cuenta {
    text-align: center;
    display: flex;
    background-color: #546CD1;
    margin: 20px 10vw;
    padding: 20px;
    max-width: 80vw;
    box-shadow: 0 0 5px black;
    justify-content: space-between;
    align-items: center;
}

#cuenta section {
    display: grid;
    max-width: 50vw;
}

#cuenta section button{
    width: 20vw;
    height: 5vh;
}

#cuenta img {
    max-width: 20vw;
}