<!DOCTYPE html>
{% load static %}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'img/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>{{publicacion.TITULO}}</title>
</head>
<body>
    <header>
        <a href="">
            <img src="{% static 'img/logo.png' %}" alt="">
        </a>
        <section>
            <a href="/account"><button>MI CUENTA</button></a>
            <a href="/wall"><button>REGRESAR</button></a>
        </section>
    </header>
    <main>
        <section id="publicacion">
            <section id="publicacionHeader">
                <div>
                    <h1>{{publicacion.TITULO}}</h1>
                    <p>{{publicacion.JUEGO}}</p>
                </div>
                <div>
                    <h3>{{publicacion.AUTOR}}</h3>
                    <form method="POST">
                        {% csrf_token %}
                        <button type="submit">ELIMINAR RESEÑA</button>
                    </form>
                </div>
            </section>
            {% if publicacion.IMAGEN != "" %}
                <img src={{publicacion.IMAGEN}} alt="404 NOT FOUND">
            {% endif %}
            <p>{{publicacion.DESCRIPCION}}</p>
            <section id="title">
                <h2>Likes: {{publicacion.LIKES}}</h2>
            </section>
                
        </section>
        <h1>{{mensaje}}</h1>
    </main>
    <footer>
        <p>Dev: Alejandro Amador Ruiz</p>
    </footer>
</body>
</html>