<!DOCTYPE html>
{% load static %}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'img/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="sweetalert2.min.js"></script>
    <link rel="stylesheet" href="sweetalert2.min.css">
    <script src="{% static 'js/alertas.js' %}"></script>
    <title>{{usuario}}</title>
</head>
<body>
    <header>
        <a href="">
            <img src="{% static 'img/logo.png' %}" alt="">
        </a>
        <section>
            <a href="/account"><button>MI CUENTA</button></a>
            <a href="/wall"><button>REGRESAR</button></a>
        </section>
    </header>
    <main>
        <div id="cuenta">
            <img src="{% static 'img/user.jpg' %}" alt="">
            <section>
                <h1>{{usuario}}</h1>
                <p>{{correo}}</p>   
            </section>
        </div>
        <h1 id="title">RESEÑAS PUBLICADAS POR {{usuario}}</h1>
        {% for publicacion in publicaciones %}
            <section id="publicacion">
                <section id="publicacionHeader">
                    <div>
                        <h1>{{publicacion.TITULO}}</h1>
                        <p>{{publicacion.JUEGO}}</p>
                    </div>
                    <div>
                        <h3>{{publicacion.AUTOR}}</h3>
                    </div>
                </section>
                {% if publicacion.IMAGEN != "" %}
                    <img src={{publicacion.IMAGEN}} alt="404 NOT FOUND">
                {% endif %}
                <p>{{publicacion.DESCRIPCION}}</p>
                <section id="publicacionHeader">
                    <h2>Likes: {{publicacion.LIKES}}</h2>
                    <a href="/details/{{publicacion.ID}}">
                        <button>Ver más</button>
                    </a>
                </section>
            </section>
        {% endfor %}
    </main>
    <footer>
        <p>Dev: Alejandro Amador Ruiz</p>
    </footer>
</body>
</html>