<!DOCTYPE html>
{% load static %}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'img/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>Publicar Reseña</title>
</head>
<body>
    <header>
        <a href="">
            <img src="{% static 'img/logo.png' %}" alt="">
        </a>
        <section>
            <a href="/account"><button>MI CUENTA</button></a>
            <a href="/wall"><button>REGRESAR</button></a>
        </section>
    </header>
    <main>
        <section id="register">
            <h1 id="title">ESCRIBE TU RESEÑA</h1>
            <form method="POST">
                {% csrf_token %}
                <div>
                    <h3>Titulo (de la reseña): </h3>
                    <input type="text" name="titulo" placeholder="Titulo" required autocomplete="off">
                </div>
                <div>
                    <h3>Juego: </h3>
                    <select id="videojuegos" name="juego" required>
                        <option value="" disabled selected >Selecciona un videojuego</option>
                        <option value="The Legend of Zelda: Breath of the Wild">The Legend of Zelda: Breath of the Wild</option>
                        <option value="Super Mario Odyssey">Super Mario Odyssey</option>
                        <option value="The Witcher 3: Wild Hunt">The Witcher 3: Wild Hunt</option>
                        <option value="Fortnite">Fortnite</option>
                        <option value="Minecraft">Minecraft</option>
                        <option value="Overwatch">Overwatch</option>
                        <option value="God of War">God of War</option>
                        <option value="FIFA 22">FIFA 22</option>
                        <option value="PlayerUnknown's Battlegrounds (PUBG)">PlayerUnknown's Battlegrounds (PUBG)</option>
                        <option value="Apex Legends">Apex Legends</option>
                        <option value="Grand Theft Auto V (GTA V)">Grand Theft Auto V (GTA V)</option>
                        <option value="Red Dead Redemption 2">Red Dead Redemption 2</option>
                        <option value="Cyberpunk 2077">Cyberpunk 2077</option>
                        <option value="DOOM Eternal">DOOM Eternal</option>
                        <option value="Animal Crossing: New Horizons">Animal Crossing: New Horizons</option>
                        <option value="Halo Infinite">Halo Infinite</option>
                        <option value="Fallout 4">Fallout 4</option>
                        <option value="League of Legends">League of Legends</option>
                        <option value="DOTA 2">DOTA 2</option>
                        <option value="Call of Duty: Warzone">Call of Duty: Warzone</option>
                        <option value="Persona 5 Royal">Persona 5 Royal</option>
                        <option value="Deep Rock Galactic">Deep Rock Galactic</option>
                        <option value="Five Nights at Freddy's 2">Five Nights at Freddy's 2</option>
                        <option value="Project Zomboid">Project Zomboid</option>
                        <option value="Ultrakill">Ultrakill</option>
                      </select>
                </div>
                <div>
                    <h3>Imagen (opcional): </h3>
                    <input type="text" name="imagen" placeholder="URL de la Imagen" autocomplete="off">
                </div>
                <div>
                    <h3>Reseña: </h3>
                </div>
                <div>
                    <textarea name="descripcion" cols="30" rows="10" placeholder="Escribe aquí tu reseña" required></textarea>
                </div>
                <button type="submit">Publicar</button>
            </form>
            <h2>{{mensaje}}</h2>
        </section>
    </main>
    <footer>
        <p>Dev: Alejandro Amador Ruiz</p>
    </footer>
</body>
</html>