<!DOCTYPE html>
{% load static %}
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'img/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>Muro de Reseñas</title>
</head>

<body>
    <header>
        <a href="">
            <img src="{% static 'img/logo.png' %}" alt="">
        </a>
        <section>
            <a href="/account"><button>MI CUENTA</button></a>
        </section>
    </header>
    <main>
        <div id="wallHeader">
            <h1>Hola {{usuario}}, ¿listo para escribir una reseña?</h1>
            <a href="/upload">
                <button>ESCRIBIR UNA RESEÑA</button>
            </a>
        </div>
        <h1 id="title">ULTIMAS RESEÑAS PUBLICADAS</h1>
        <div id="title">
            <form method="POST">
                {% csrf_token %}
                <h3>Filtrar por videojuego: </h3>
                <select id="videojuegos" name="juego" required>
                    <option value="Todos">Todos</option>
                    <option value="The Legend of Zelda: Breath of the Wild">The Legend of Zelda: Breath of the Wild
                    </option>
                    <option value="Super Mario Odyssey">Super Mario Odyssey</option>
                    <option value="The Witcher 3: Wild Hunt">The Witcher 3: Wild Hunt</option>
                    <option value="Fortnite">Fortnite</option>
                    <option value="Minecraft">Minecraft</option>
                    <option value="Overwatch">Overwatch</option>
                    <option value="God of War">God of War</option>
                    <option value="FIFA 22">FIFA 22</option>
                    <option value="PlayerUnknown's Battlegrounds (PUBG)">PlayerUnknown's Battlegrounds (PUBG)</option>
                    <option value="Apex Legends">Apex Legends</option>
                    <option value="Grand Theft Auto V (GTA V)">Grand Theft Auto V (GTA V)</option>
                    <option value="Red Dead Redemption 2">Red Dead Redemption 2</option>
                    <option value="Cyberpunk 2077">Cyberpunk 2077</option>
                    <option value="DOOM Eternal">DOOM Eternal</option>
                    <option value="Animal Crossing: New Horizons">Animal Crossing: New Horizons</option>
                    <option value="Halo Infinite">Halo Infinite</option>
                    <option value="Fallout 4">Fallout 4</option>
                    <option value="League of Legends">League of Legends</option>
                    <option value="DOTA 2">DOTA 2</option>
                    <option value="Call of Duty: Warzone">Call of Duty: Warzone</option>
                    <option value="Persona 5 Royal">Persona 5 Royal</option>
                    <option value="Deep Rock Galactic">Deep Rock Galactic</option>
                    <option value="Five Nights at Freddy's 2">Five Nights at Freddy's 2</option>
                    <option value="Project Zomboid">Project Zomboid</option>
                    <option value="Ultrakill">Ultrakill</option>
                </select>
                <button>Filtrar</button>
            </form>
        </div>
        {% for publicacion in publicaciones %}
        <section id="publicacion">
            <section id="publicacionHeader">
                <div>
                    <h1>{{publicacion.TITULO}}</h1>
                    <p>{{publicacion.JUEGO}}</p>
                </div>
                <div>
                    <h3>{{publicacion.AUTOR}}</h3>
                </div>
            </section>
            {% if publicacion.IMAGEN != "" %}
            <img src={{publicacion.IMAGEN}} alt="404 NOT FOUND">
            {% endif %}
            <p>{{publicacion.DESCRIPCION}}</p>
            <section id="publicacionHeader">
                <h2>Likes: {{publicacion.LIKES}}</h2>
                <a href="/details/{{publicacion.ID}}">
                    <button>Ver más</button>
                </a>
            </section>
        </section>
        {% endfor %}
    </main>
    <footer>
        <p>Dev: Alejandro Amador Ruiz</p>
    </footer>
</body>

</html>