{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>PRUEBA DE DJANGO</title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
  <header>
    <h1>INICIO</h1>
  </header>
  <a href="/register"><h3>REGISTRARSE</h3></a>
  <a href="/login"><H3>LOGIN</H3></a>
  <main>
    <p>Contenido principal</p>
  </main>
  <footer>
    <p>Pie de página</p>
  </footer>
</body>
</html>
