{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Plantilla básica</title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
  <header>
    <h1>Título</h1>
  </header>
  <a href="/"><h3>INICIO</h3></a>
  <a href="/login"><h3>LOGIN</h3></a>
  <main>
    <form method="post" class="formulario">
        {% csrf_token %}
        <input type="text" name="nombre" placeholder="Nombre">
        <input type="text" name="apellido" placeholder="Apellido">
        <input type="text" name="usuario" placeholder="Usuario">
        <input type="password" name="contrasena" placeholder="Contraseña">
        <input type="submit" value="Registrarse">
        <h1>{{texto}}</h1>
    </form>
  </main>
  <footer>
    <p>Pie de página</p>
  </footer>
</body>
</html>
