<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categorías</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="sweetalert2.min.js"></script>
    <link rel="stylesheet" href="sweetalert2.min.css">
    <script src="{% static 'js/scripts.js' %}"></script>
    <link rel="icon" href="{% static 'img/favicon.ico' %}">
</head>

<body>
    <nav>
        <section>
            <button onclick="cierreSesion()">CERRAR SESIÓN</button>
            <div>
                <h1 id="title">{{nombre}}</h1>
                <p id="title">({{user}})</p>
            </div>
            <img src="{% static 'img/logo.png' %}" alt="">
        </section>
    </nav>
    <h1 id="title">NUESTROS PRODUCTOS</h1>
    <main id="mainCategorias">
        <section id="categoria">
            <div id="categoriaTitulo">
                <h1 id="title">TARJETAS GRÁFICAS</h1>
                <a href="{% url 'Categoria' 'Tarjeta Grafica' %}"><button>VER MÁS</button></a>
            </div>
            <div id="productosCategorias">
                <div id="producto">
                    <img src="{% static 'img/productos/producto1.jpg' %}" alt="">
                    <div>
                        <h2>RX 6600</h2>
                        <p>$200</p>
                        <p>Tarjeta Gráfica</p>
                    </div>
                    <a href="{% url 'producto' producto=1 %}">
                        <button>Ver más</button>
                    </a>
                </div>
                <div id="producto">
                    <img src="{% static 'img/productos/producto2.jpg' %}" alt="">
                    <div>
                        <h2>RTX 3060</h2>
                        <p>$500</p>
                        <p>Tarjeta Gráfica</p>
                    </div>
                    <a href="{% url 'producto' producto=2 %}">
                        <button>Ver más</button>
                    </a>
                </div>
            </div>
        </section>
        <br>
        <section id="categoria">
            <div id="categoriaTitulo">
                <h1 id="title">PLACAS MADRES</h1>
                <a href="{% url 'Categoria' 'Placa Madre' %}"><button>VER MÁS</button></a>
            </div>
            <div id="productosCategorias">
                <div id="producto">
                    <img src="{% static 'img/productos/producto5.jpg' %}" alt="">
                    <div>
                        <h2>RX 6600</h2>
                        <p>$200</p>
                        <p>Tarjeta Gráfica</p>
                    </div>
                    <a href="{% url 'producto' producto=5 %}">
                        <button>Ver más</button>
                    </a>
                </div>
                <div id="producto">
                    <img src="{% static 'img/productos/producto6.png' %}" alt="">
                    <div>
                        <h2>RTX 3060</h2>
                        <p>$150</p>
                        <p>Tarjeta Gráfica</p>
                    </div>
                    <a href="{% url 'producto' producto=6 %}">
                        <button>Ver más</button>
                    </a>
                </div>
            </div>
        </section>
    </main>
</body>

</html>