<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{producto.NOMBRE}}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="{% static 'js/scripts.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="sweetalert2.min.js"></script>
    <link rel="stylesheet" href="sweetalert2.min.css">
    <link rel="icon" href="{% static 'img/favicon.ico' %}">
</head>

<body>
    <nav>
        <section>
            <a href="/categories">
                <button>ATRAS</button>
            </a>
            <div>
                <h1 id="title">{{nombre}}</h1>
                <p id="title">({{user}})</p>
            </div>
            <img src="{% static 'img/logo.png' %}" alt="">
        </section>
    </nav>
    <main>
        <section id="detalleProducto">
            <div>
                <h1>{{producto.NOMBRE}}</h1>
                <p>{{producto.DESCRIPCION}}</p>
                <p>
                    <h3>Cantidad:</h3>
                    <input type="number">
                </p>
                <br><br>
                    <button onclick="comprar()">COMPRAR</button>
            </div>
            <img src="{% static producto.IMAGEN %}" alt="">
        </section>
    </main>
</body>

</html>