<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="icon" href="{% static 'img/favicon.ico' %}">
    
</head>

<body>
    <nav>
        <section>
            <a href="/categories">
                <button>ATRAS</button>
            </a>
            <div>
                <h1 id="title">{{nombre}}</h1>
                <p id="title">({{user}})</p>
            </div>
            <img src="{% static 'img/logo.png' %}" alt="">
        </section>
    </nav>
    <h1 id="title">{{categoria}}</h1>
    <main>
        <section id="productos">
            {% for producto in productos %}
                <div id="producto">
                    <img src="{% static producto.IMAGEN %}" alt="">
                    <div>
                        <h2>{{producto.NOMBRE}}</h2>
                        <p>${{producto.PRECIO}}</p>
                        <p>{{producto.CATEGORIA}}</p>
                    </div>
                    <a href="/details/{{producto.ID}}">
                        <button onclick="comprado()">Ver más</button>
                    </a>
                </div>
            {% endfor %}
        </section>
    </main>
</body>

</html>