body {
    background-color: #1b2838;
    margin: 0;
    font-family: 'Cascadia Code';
    text-shadow: 0 0 1px black;
}

button {
    border-radius: 25px;
    border-style: hidden;
    font-size: large;
    font-weight: bold;
    cursor: pointer;
    padding: 8px;
    box-shadow: 0 0 5px;
    justify-self: center;
}

nav {
    max-width: 100vw;
}

nav section {
    background-color: #171a21;
    grid-template-areas: 
    "boton nombre logo";
    display: grid;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid black;
    padding: 20px;
    box-shadow: 0 0 10px black;
    width: 130vw;
}

nav img {
    width: 30%;
}

header {
    display: flex;
    justify-content: center;
    padding: 50px;
    border-bottom: 2px solid black;
}

#poli{
    box-shadow: 0 0 10px black;
}


main {
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#informacionPersonal {
    display: flex;
    align-items: center;
    background-color: #66c0f4;
    padding: 10px;
    box-shadow: 0 0 10px black;
}

#informacionPersonal img {
    padding: 20px;
}

#habilidades {
    max-width: 30%;
    background-color: #66c0f4;
    padding: 20px;
    box-shadow: 0 0 10px black;
}

#categoria {
    display: flex;
}

#categoria img {
    max-width: 80%;
}

#login {
    background-color: #66c0f4;
    padding: 20px;
    display: flex;
    justify-content: space-around;;
}
#login img {
    width: 30%;
}

#loginContainer {
    background-color: #66c0f4;
    text-align: center;
    font-size: large;
    box-shadow: 0 0 5px black;
}

#registro {
    background-color: #66c0f4;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#registroContainer {
    background-color: #66c0f4;
    text-align: center;
    font-size: large;
    box-shadow: 0 0 5px black;
}

input {
    border-radius: 25px;
    margin: 10px;
    box-shadow: 0 0 3px;
}

.campo {
    display: flex;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: black;
}

#categoria {
    background-color: #2a475e;
    margin: 30px;
    display: inline-block;
    align-items: center;
    box-shadow: 0 0 10px black;
}

#categoriaTitulo {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

#productosCategorias {
    display: flex;
}

#producto {
    margin: 20px;
    background-color: #66c0f4;
    padding: 20px;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 5px black;
}

#producto img {
    max-width: 30vh;
}

#title {
    color: white;
    text-align: center;
    text-shadow: 0 0 1px black;
}

#detalleProducto {
    background-color: #66c0f4;
    padding: 20px;
    margin: 50px;
    display: flex;
    justify-content: center;
    box-shadow: 0 0 5px black;
}

#detalleProducto img {
    max-width: 50%;
}

#detalleProducto button {
    width: 40%;
    margin-top: 25vh;
    position: absolute;
}

#detalleProducto input {
    width: 10%;
}

#productos {
    display: flex;
    flex-wrap: wrap;
}