body {
    background-color: aliceblue;
    text-align: center;
}

header {
    background-color: aqua;
}

.formulario {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

input {
    border-radius: 10%;
    padding: 15px;
    margin: 10px 0;
}